
$theme-white: #FFF;
$theme-black: #000;
$theme-grey: #636363;
$theme-grey-light: #E2E8F0;
$theme-main: #1992d4;
$theme-accent: #f0b429;

$text-black: $theme-black;
$text-white: $theme-white;
$text-grey:  $theme-grey;
$text-link-hover:  $theme-accent;

$theme-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);

/* Globals */

*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background: $theme-grey-light;
  color: $theme-black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  min-height: 100vh;
  display: grid;
  grid-template: 1fr / 1fr 4fr;
}

a{
  text-decoration: none;
  &:hover{
    color: $text-link-hover;
  }
}

.list{
  list-style: none;
  padding: 0;
  margin: 0;
}


/* Sidebar */

#sidebar{
  background: $theme-main;
  color: $text-white;
  padding: 2rem;

  #header-cont{
    display: flex;
    align-items: center;
    margin-bottom: 5rem;

    .logo-cont{
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      background: $theme-white;
    }
    .page-header{
      margin: 0;
      font-size: 2rem;
    }
  }

  .list{
    font-size: 1.5rem;
    margin-bottom: 5rem;

    .main-menu-item{
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .icon-cont{
	margin: 0.5rem;
	width: 2rem;
	height: 2rem;
	background: $theme-white;
      }

      a{
	margin-left: 1rem;
	font-weight: bold;
	color: $text-white;

	&:hover{
	  color: $text-link-hover;
	}
      }
    }

  }
}

/* Topbar */

#top-bar{
  background: $theme-white;
  padding: 2rem 3rem;
  box-shadow: $theme-shadow;

  #top-header{
    display: grid;
    justify-content: space-between;
    grid-template: auto / 1fr auto;

    .searchbar-cont{
      display: grid;
      grid-template: auto / auto 2fr 1fr;

      .icon-cont{
	margin-right: 1rem;
	width: 2rem;
	height: 2rem;
	background: $theme-grey;
      }

      input[type=search]{
	background: $theme-grey-light;
	height: 2rem;
	padding-right: 1rem;
	border: none;
	border-radius: 1rem;
	outline: none;
	text-indent: 1rem;
	font-size: 1rem;
      }
    }

    .user-status-cont{
      display: flex;
      align-items: center;
      gap: 2rem;

      .icon-cont{
	width: 2rem;
	height: 2rem;
	background: $theme-black;
      }

      .profile-pic-cont{
	width: 4rem;
	height: 4rem;
	border-radius: 2rem;
	background: $theme-accent;
      }
    }
  }

  #secondary-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user-info-cont{
      display: flex;
      align-items: center;

      .profile-pic-cont{
	width: 5rem;
	height: 5rem;
	margin-right: 1.5rem;
	border-radius: 2.5rem;
	background: $theme-accent;
      }

      .user-text-info{
	h2,h4{
	  margin: 0;
	  padding: 0;
	}
	h2{
	  font-size: 2rem;
	}
      }
    }

    .action-menu{
      margin-top: 1rem;
      display: flex;
      gap: 1.5rem;

      a{
	width: 6rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1.5rem;
	font-size: 1rem;
	color: $text-white;
	text-decoration: none;
	font-weight: bold;
	background: $theme-main;


	&:hover{
	  color: $theme-accent;
	}
      }
    }
  }
}

/* Main Content */

#main-content-cont{
  padding: 1.5rem 2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
    'main announcements' 
    'main trending';
  gap: 2rem 5rem;

  .section-heading{
    color: $text-black;
    font-size: 1.5rem;
    margin-top: 0;
  }

  .card{
    background: $theme-white;
    box-shadow: $theme-shadow;
    border-radius: 1rem;
    padding: 2rem;
  }

  #projects-section{
    grid-area: main;

    #projects-cont{
      display: grid;
      grid-template: auto / 1fr 1fr;
      gap: 2rem;

      .project-item{
	position: relative;
	display: grid;
	gap: 1rem;

	&::before{
	  position: absolute;
	  content: '';
	  background: $theme-accent;
	  height: 100%;
	  width: 10px;
	  border-top-left-radius: 1rem;
	  border-bottom-left-radius: 1rem;
	}

	.project-title{
	  margin: 0;
	  padding: 0;
	  font-size: 1.25rem;
	}

	p{
	  color: $text-grey;
	  font-size: 1.1rem;
	}

	.project-actions-cont{
	  justify-self: flex-end;
	  display: flex;
	  gap: 1rem;

	  .action-icon-cont{
	    width: 2rem;
	    height: 2rem;
	    background: $theme-grey;
	  }
	}
      }
    }

  }

  #announcements-section{
    grid-area: announcements;

    #announcements-cont{

      .announcements-item{
	padding-bottom: 0.5rem;
	border-bottom: 2px solid $theme-grey;

	&:last-child{
	  border-bottom: none;
	}
	
	h3{
	  font-size: 1.25rem;
	  color: $text-black;
	}

	p{
	  color: $text-grey;
	}
      }

    }
  }

  #trending-section{
    grid-area: trending;

    #trending-cont{
      display: grid;
      gap: 1rem;

      .trending-item{
	display: grid;
	grid-template: auto / auto 1fr;
	gap: 1rem;
	align-items: center;

	.profile-pic-cont{
	  width: 3rem;
	  height: 3rem;
	  border-radius: 1.5rem;
	  background: $theme-accent;
	}

	.user-text-info{
	  color: $text-grey;

	  h4,p{
	    margin: 0;
	    padding: 0;
	  }
	}
      }
    }

  }
}
