<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title><%= error.status %> Error - Members Only Project</title>
  </head>

  <body>
    <h1><%= error.status %> Error</h1>
    <p><%- message %></p>

  </body>

</html>


