<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Members Only Project - Jamal J8 Ahmed</title>
  </head>

  <body>
    <h1>Home Page</h1>

    <div>
      <h1>Messages GO HERE</h1>
    </div>

    <% if (currentUser) {%>
      <h1>WELCOME BACK <%= currentUser.username %></h1>
      <a href="/log-out">LOG OUT</a>
    <% } %>

  </body>

</html>

