:root{
  --bg-dark: #1a1a1a;
  --text-light: #ffffff;
  --border-radius: 10px;
}
*{
  font-family: roboto, sans-serif;
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  background: #333333;
  color: white;
  font-size: 20px;
}
header,footer{
  background-color: var(--bg-dark);
  padding: 1rem;
  color: var(--text-light);
}

/* header */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #logo h2{
  margin: 0;
  padding: 0;
}

#calculator-cont{
}

/* Calculator Display */
#display{
  padding: 50px;
  background: purple;
  text-align: right;
  font-size: 40px;
}

/* Calculator Buttons */
#buttons-cont{
}

td{
  padding: 2rem;

}




/* footer */

footer{
  text-align: center;
}

footer a{
  color: var(--text-light);
  text-decoration: none;
}
footer a:hover{
  color: var(--hi-light);
}
