extends ../templates/layout

block content
  h1= title

  ul
    each category in categories
      li
        h3 category Name: !{category.name}
        p Description: !{category.description}
        a(href=category.url) View category

    else
      li There are no categories.


