:root{
  --bg-dark: #008080;
  --text-light: #ffffff;
  --border-radius: 10px;
}
*{
  font-family: roboto, sans-serif;
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
}
header,footer{
  background-color: var(--bg-dark);
  padding: 1rem;
  color: var(--text-light);
}

/* header */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #logo h2{
  margin: 0;
  padding: 0;
}

#game-cont{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 550px;
  min-height: 80vh;
  margin: auto;
  padding: 50px 0;
}

/* Game Menu */
#menu{
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 1rem;
}

#menu button{
  padding: 0.5rem 1rem;
  font-size: 20px;
  border: 3px solid black;
  border-radius: var(--border-radius);
}

/* Game Canvas */
#canvas{
  display: grid;
  width: 100%;
  margin: auto;
  background: grey;
  border: 5px solid black;
  border-style: outset;
  border-radius: var(--border-radius);
}
#canvas:hover{
  cursor: crosshair;
}

.canvas-pixel{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: white;
}



/* footer */

footer{
  text-align: center;
}

footer a{
  color: var(--text-light);
  text-decoration: none;
}
footer a:hover{
  color: var(--hi-light);
}
