:root{
  --bg-dark: #38270a;
  --text-light: #d5d5d5;
}
*{
  font-family: roboto, sans-serif;
}
body{
  padding: 0;
  margin: 0;
}
header,footer{
  background-color: var(--bg-dark);
  padding: 1rem;
  color: var(--text-light);
}

/* header */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #logo h2{
  margin: 0;
  padding: 0;
}


/* footer */

footer{
  text-align: center;
}

footer a{
  color: var(--text-light);
  text-decoration: none;
}
footer a:hover{
  color: var(--hi-light);
}
